
:root {
  --primary: #CBC3E3;
  --accent1: #C2CBE2;
  --accent2: #D6BFE1;
  --lighter0: #EBE7F5;
  --lighter1: #E7EBF5;
  --lighter2: #F0E6F5;
  --mid-light: #F7F1F9;
  --lightest0: #FDFDFE;
  --lightest1: #FDFDFE;
  --lightest2: #FEFDFE;
  --hover: #B5AEDA;
  --darker0: #A396C8;
  --darker1: #94A2C6;
  --darker2: #B390C5;
  --darkest0: #7767A7;
  --darkest1: #6476A3;
  --darkest2: #8C60A2;
}

body {
  margin-top: 0px;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.filler-side {
  background-image: url('/images/texture.jpg');
  background-size: cover;
}

.vertical-flex {
  background-color: var(--mid-light);
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: auto;
  border-style: solid;
  border-color: var(--accent2);
  border-top: 1px;
  border-bottom: 1px;
}

.about {
  min-height: 10vh;
}

hr {
  margin: 20px 0px;
  height: 1px;
  background: dimgrey;
}

.logo {
  height: 75px;
  margin-left: 20px;
}

.navbar-light {
  background-color: var(--primary) !important;
  margin-bottom: 0 !important;
}

.nav-link {
  color: #145DA0 !important;
  font-size: 24px;
  margin-bottom: 0;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #0C2D48 !important;
}

.nav-link:hover {
  color: #0C3D48 !important;
}

.current-offer {
  display: inline;
  font-style: italic;
  font-size: 1.5em;
  margin-right: 30px;
  padding-top: 10px;
  float: right;
}

.overlay {
  position: relative;
}

.text_container {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 350px;
}

.image_text {
  font-size: 2.2em;
  color: var(--lightest0);
  font-style: italic;
}

.cover {
  width: 970px;
  margin: 10px;
}

.about_img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.one-col {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.one-col img {
  width: 480px;
  margin: auto;
}

.image_description {
  font-size: 1.8em;
  font-weight: bold;
  margin:auto;
}

.social-link {
  margin: 0 20px;
}

.footer-side {
  background-color: var(--lighter0);
}

.bg-light {
  background-color: var(--lighter0) !important;
}

.medium-whitespace {
  margin: 20px;
}

.shop-item {
  font-size: 1.4em;
  margin-left: 10px;
}

.link {
  font-size: 1.2em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .vertical-flex {
    width: 1000px;
  }

  .menu {
    width: 1000px;
  }
}