
:root {
  --primary: #CBC3E3;
  --accent1: #C2CBE2;
  --accent2: #D6BFE1;
  --lighter0: #EBE7F5;
  --lighter1: #E7EBF5;
  --lighter2: #F0E6F5;
  --mid-light: #F7F1F9;
  --lightest0: #FDFDFE;
  --lightest1: #FDFDFE;
  --lightest2: #FEFDFE;
  --hover: #B5AEDA;
  --darker0: #A396C8;
  --darker1: #94A2C6;
  --darker2: #B390C5;
  --darkest0: #7767A7;
  --darkest1: #6476A3;
  --darkest2: #8C60A2;
}

body {
  margin-top: 0px;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.filler-side {
  background-color: var(--mid-light);
  background-size: cover;
}

.vertical-flex {
  background-color: var(--mid-light);
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: auto;
}

.about {
  min-height: 10vh;
}

hr {
  margin: 20px 0px;
  height: 1px;
  background: dimgrey;
}

.logo {
  height: 75px;
  margin-left: 20px;
}

.navbar-light {
  background-color: var(--mid-light) !important;
  margin-bottom: 0 !important;
}

.nav-link {
  color: #145DA0 !important;
  font-size: 24px;
  margin-bottom: 0;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #0C2D48 !important;
}

.nav-link:hover {
  color: #0C3D48 !important;
}

.current-offer {
  display: inline;
  font-style: italic;
  font-size: 1.5em;
  margin-right: 30px;
  padding-top: 10px;
  float: right;
}

.overlay {
  position: relative;
}

.text_container {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 350px;
}

.image_text {
  font-size: 2.2em;
  color: var(--lightest0);
  font-style: italic;
}

.cover {
  width: 100%;
  margin: 10px;
}

.about_img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.about-txt {
  background-color: var(--primary);
  position: absolute;
  left: 15%;
  bottom: 22%;
  width: 30vw;
  padding: 15px;
}

.about-image_text {
  font-size: 2.2em;
  color: #0C2D48;
  font-style: italic;
}


.one-col {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image_title_set p {
  text-align: center;
}

.one-col img {
  width: 480px;
  margin: auto;
}

.image_description {
  font-size: 1.8em;
  margin:auto;
}

.social-link {
  margin: 0 20px;
}

.footer-side {
  background-color: var(--lighter0);
}

.bg-light {
  background-color: var(--lighter0) !important;
}

.medium-whitespace {
  margin: 20px;
}

.large-whitespace {
  margin: 50px;
}

.shop-item {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 10px;
}

.link {
  font-size: 1.3em;
}

.centered-headers h1, .centered-headers h2, .centered-headers h3, .centered-headers h4,
.centered-headers h5, .centered-headers h6 {
  text-align: center;
  margin: 10px 50px;
}

#contact-title {
  font-size: 1.6em;
}

label {
  font-size: 1.2em;
}

#schedule-lists {
  margin-left: 20px;
}

#Schedule-Header {
  margin-bottom: 30px;
}

#schedule-selector-description {
  display: inline;
}

#type-selector {
  display: inline;
  margin-left: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .wrapper {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
  }
  .vertical-flex {
    width: 100vw;
    flex-wrap: wrap;
  }
  .current-offer {
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 1em;
    width: 125px;
  }
  .cover {
    margin: 0;
  }
  .text_container {
    left: 5vw;
    bottom: 5vw;
    width: 50vw;
  }
  .image_text {
    font-size: 1.2em;
  }
  .one-col {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .one-col img {
    width: 100%;
    margin-top: 10px;
  }
  .link {
    margin-top: 0;
    margin-bottom: 20px
  }
  .title {
    margin-bottom: 0;
  }
  .about_img {
    ;
  }
  .about-txt {
    left: 2%;
    bottom: 10%;
    width: 45vw;
  }
  .about-image_text {
    font-size: 1.1em;
  }
  #contact-title {
    font-size: 1.5em;
    margin: 10px 8px;
  }
  form {
    margin: 0 8px;
  }
  #contact-submit {
    margin: 0 8px;
  }
  .centered-headers h1, .centered-headers h2, .centered-headers h3, .centered-headers h4,
  .centered-headers h5, .centered-headers h6 {
    text-align: center;
    margin: 10px 20px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .vertical-flex {
    width: 1000px;
  }

  .menu {
    width: 1000px;
  }
}